.container{
    .myswiper{
        width: 100% !important;
        height: 20vh;
        .swiperslide{ 
        img{
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            text-align: center;
        }    
    }
    }
    .swiperslide{

    }
    .swiper-button-next{
        color: wheat !important;
    }
}
.image-slide{
    width: 100%;
    
}
.image-slide img{
width: fit-content;
height: fit-content;
}

.conatinerphoto{
    display: grid;
    text-align: end;
    justify-content: end;
}
  