.fixed{
  position: fixed;
  text-align: left;
  display: block;
  margin: 17px;
  float: left;
  left: 0;
  opacity: 0;
  z-index: 8000;
  @media (max-width: $layout-breakpoint-medium) {
    opacity: 1;
  }
  @media (max-width: $layout-breakpoint-xsmall) {
    opacity: 1;
  }
}
.header {
    font-size: 1.8rem;
    height: 156px;
    display: flex;
    justify-content: center;
    padding-left:108px;
    padding-right: 0;
    color: $black;
    max-height: 10rem;
    position: relative;
    top: 0;
    z-index: 500;
    @media (max-width: $layout-breakpoint-medium) {
      padding: 0 72px;
      font-size: 1.6rem;
      padding-right: 0;
    }
    @media (max-width: $layout-breakpoint-xsmall) {
      padding: 0 12px;
      height: 96px;
      font-size: 1.2rem;
      padding-right: 0;
    }
    .header-inner {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        font-weight: 700;
        text-align: center;
        font-size: 3.6rem;
        @media (max-width: $layout-breakpoint-medium) {
          font-size: 3.2rem;
          flex: 4;
        }
      }
      .nav {
        @media (max-width: $layout-breakpoint-medium) {

        }
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        li {
          list-style: none;
          margin: 0 40px;
          a {
            text-decoration: none;
            color: $black;
            white-space: nowrap;
          }
        }
      }
      .contact {
        @media (max-width: $layout-breakpoint-medium) {
          flex: 1;
        }
        a {
          color: $black;
          text-decoration: none;
          border-bottom: 2px solid $black;
          padding-bottom: 12px;
          white-space: nowrap;
          @media (max-width: $layout-breakpoint-xsmall) {
            border: none;
          }
        }
      }
      .hamburger-menu {
        height: 56px;
        position: fixed;
        width: 56px;
        border-radius: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        transition: 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
        cursor: pointer;
        &:hover {
          background: darken($color: $white, $amount: 12);
        }
        @media (min-width: $layout-breakpoint-medium) {
          display: none;
        }
        span {
          width: 20px;
          height: 3px;
          margin: 2px 0;
          background: $black;
        }
      }
      @media (max-width: $layout-breakpoint-xsmall) {
        opacity: 1;
      }
    }
  }
  