// .body {
//     background-color: #1a0554;
//     font-family: "Roboto", sans-serif;
//   }
.containertt{
    width: 25rem;  
    z-index: 5;
}
  main {
    display: flex;
    text-align: start;
    margin-top: 5px;
    align-items: center;
    justify-content: flex-end;
  }
//   main a{ text-align: start;}
  aside {
    background-color: #c5c5c5;
    width: 8.75rem;
 margin-top: 40px;
text-align: right;
height: 30vh;
    border-radius: 0.5rem;
    border: 3px solid black;
  }
  
  .containernavlink {
    margin: 4.5rem 1.4rem;
  }
  
  .btn-container {
    position: relative;
    // margin-top: 50px;
    vertical-align: top;
    display: contents;
    align-items: start;
  }
  
  .container a {
    color: #f9fafb;
    text-decoration: none;
    font-size: 1.75rem;
    font-weight: 600;
    display: block;
    margin: 20px;
  }
  .container a:hover {
    background:linear-gradient(rgba(255, 255, 255, 0.329));
  }
  button {
    cursor: pointer;
 margin: 1.25rem;
    border: none;
padding: 0.5rem 1rem;
    background-color: rgb(0, 0, 0);
  }

  .insidebutton{
    // margin-top: 50px;
    top: 0;
    text-align: start;
    justify-content: flex-start;
  }
