@tailwind base;
@tailwind components;
@tailwind utilities;

@import "base/global";
@import "base/reset";
@import "base/typography";

@import "components/Navbar";
@import "components/loader";
@import "components/marquee";
@import "components/banner";

